{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>online Auksion</title>
</head>
<body>
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">fikr va mulohazalar uchun 998939621716 raqamiga murojaat etishingiz mumkin</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name='items_name' placeholder="mahsulotlarni qidirish" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">qidirish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            {{ product.title }}
                        </div>
                        <div class="card-text">
                            {{ product.price }} so'm
                        </div>

                        <a href="/{{product.id}}"class="btn btn-warning">tovarni ko'rish</a>
                        <!-- <a class="btn btn-warning">Savatga qo'shish</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
            </div>
        </div>
    </div>
</body>
</html>















   